Icon Flow
[{"id":"fe0bcd2d.94e178","type":"inject","z":"a43ffc66.722e4","name":"Every 15mins","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":120,"y":97,"wires":[["86e361af.79ea5"]]},{"id":"86e361af.79ea5","type":"http request","z":"a43ffc66.722e4","name":"Darksky","method":"GET","ret":"obj","url":"https://api.darksky.net/forecast/90bf703a7c1536a3031c3e96b0485e8a/46.392401,-63.772620","tls":"","x":290,"y":97,"wires":[["8ed56a3d.b72438","b9efd81a.ff1708","e2f4d79e.9bd548"]]},{"id":"8ed56a3d.b72438","type":"function","z":"a43ffc66.722e4","name":"Days","func":"(function() {\n    var days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n\n    var months = ['January','February','March','April','May','June','July','August','September','October','November','December'];\n\n    Date.prototype.getMonthName = function() {\n        return months[ this.getMonth() ];\n    };\n    Date.prototype.getDayName = function() {\n        return days[ this.getDay() ];\n    };\n    \n    Date.prototype.addDays = function(days) {\n        this.setDate(this.getDate() + parseInt(days));\n        return this;\n    };\n})();\n\nmsg = {};\nvar now = new Date();\nmsg.d0 = now.getDayName();\nmsg.d1 = new Date().addDays(1).getDayName(); //+1 days\nmsg.d2 = new Date().addDays(2).getDayName(); //+2 days\nmsg.d3 = new Date().addDays(3).getDayName(); //+3 days\nmsg.d4 = new Date().addDays(4).getDayName(); //+4 days\nmsg.d5 = new Date().addDays(5).getDayName(); //+5 days\n\nmsg.payload=msg.d0;\nvar month = now.getMonthName();\n        node.status({text:msg.payload});\n        \nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["28664cd7.986d64"]]},{"id":"b9efd81a.ff1708","type":"function","z":"a43ffc66.722e4","name":"T° Hi/Lo","func":"msg.tmin1=Math.round(msg.payload.daily.data[0].temperatureMin);\nmsg.tmin2=Math.round(msg.payload.daily.data[1].temperatureMin);\nmsg.tmin3=Math.round(msg.payload.daily.data[2].temperatureMin);\nmsg.tmin4=Math.round(msg.payload.daily.data[3].temperatureMin);\nmsg.tmin5=Math.round(msg.payload.daily.data[4].temperatureMin);\nmsg.tmin6=Math.round(msg.payload.daily.data[5].temperatureMin);\n\nmsg.tmax1=Math.round(msg.payload.daily.data[0].temperatureMax);\nmsg.tmax2=Math.round(msg.payload.daily.data[1].temperatureMax);\nmsg.tmax3=Math.round(msg.payload.daily.data[2].temperatureMax);\nmsg.tmax4=Math.round(msg.payload.daily.data[3].temperatureMax);\nmsg.tmax5=Math.round(msg.payload.daily.data[4].temperatureMax);\nmsg.tmax6=Math.round(msg.payload.daily.data[5].temperatureMax);\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["c45f063a.3de4a8"]]},{"id":"e2f4d79e.9bd548","type":"function","z":"a43ffc66.722e4","name":"Day icons","func":"try {\n    var icons = { icon:[] };\n    icons.icon.push({\"name\":msg.payload.currently.icon});\n    icons.icon.push({\"name\":msg.payload.daily.data[1].icon});\n    icons.icon.push({\"name\":msg.payload.daily.data[2].icon});\n    icons.icon.push({\"name\":msg.payload.daily.data[3].icon});\n    icons.icon.push({\"name\":msg.payload.daily.data[4].icon});\n    icons.icon.push({\"name\":msg.payload.daily.data[5].icon});\n    msg.payload = icons\n    node.send(msg);\n}\ncatch(e) {}","outputs":1,"noerr":0,"x":560,"y":217,"wires":[["2e60555a.b612b2"]]},{"id":"2e60555a.b612b2","type":"ui_template","z":"a43ffc66.722e4","group":"2bd191af.c25836","name":"Icons","order":0,"width":0,"height":0,"format":"<div class=\"container\">\n  <div class=\"summary\">\n  </div>\n\n  <figure class=\"icons\">\n  <canvas width=\"64px\" height=\"64px\" id=\"icon\"></canvas>\n  </figure>\n\n  <div class=\"temperature\">\n      <span class=\"value\"></span>\n     <span id=\"switch\" class=\"switch\"></span>\n  </div>\n</div>\n\n<script src=\"https://darkskyapp.github.io/skycons/skycons.js\"></script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":718,"y":221,"wires":[[]]},{"id":"c45f063a.3de4a8","type":"ui_template","z":"a43ffc66.722e4","group":"2bd191af.c25836","name":"T° Hi/Lo","order":3,"width":"6","height":"1","format":"<div class=\"hilo\" layout=\"row\" layout-align=\"space-between\">\n    <div class=\"wrap\">\n        <div><span>&#8679;</span>{{msg.tmax1 + \"°\"}}</div>\n        <div><span>&#8681;</span>{{msg.tmin1 + \"°\"}}</div>\n    </div>\n    <div class=\"wrap\">\n        <div><span>&#8679;</span>{{msg.tmax2 + \"°\"}}</div>\n        <div><span>&#8681;</span>{{msg.tmin2 + \"°\"}}</div>\n    </div>\n    <div class=\"wrap\">\n        <div><span>&#8679;</span>{{msg.tmax3 + \"°\"}}</div>\n        <div><span>&#8681;</span>{{msg.tmin3 + \"°\"}}</div>\n    </div>\n    <div class=\"wrap\">\n        <div><span>&#8679;</span>{{msg.tmax4 + \"°\"}}</div>\n        <div><span>&#8681;</span>{{msg.tmin4 + \"°\"}}</div>\n    </div>\n    <div class=\"wrap\">\n        <div><span>&#8679;</span>{{msg.tmax5 + \"°\"}}</div>\n        <div><span>&#8681;</span>{{msg.tmin5 + \"°\"}}</div>\n    </div>\n    <div class=\"wrap\">\n        <div><span>&#8679;</span>{{msg.tmax6 + \"°\"}}</div>\n        <div><span>&#8681;</span>{{msg.tmin6 + \"°\"}}</div>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":729,"y":162,"wires":[[]]},{"id":"28664cd7.986d64","type":"ui_template","z":"a43ffc66.722e4","group":"2bd191af.c25836","name":"Days","order":2,"width":"6","height":"1","format":"<div class=\"daywrap\" layout=\"row\" layout-align=\"space-between\">\n    <span>{{msg.d0}}</span>\n    <span>{{msg.d1}}</span>\n    <span>{{msg.d2}}</span>\n    <span>{{msg.d3}}</span>\n    <span>{{msg.d4}}</span>\n    <span>{{msg.d5}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":721,"y":99,"wires":[[]]},{"id":"bf950d12.7d2d48","type":"ui_template","z":"a43ffc66.722e4","group":"2bd191af.c25836","name":"CSS","order":1,"width":0,"height":0,"format":"<style>\n    .nr-dashboard-template { padding: 0; margin: 0; overflow: hidden; }\n    .daywrap { text-align: left; margin:8px 0 0 8px; }\n    .daywrap span { width:16%;margin-left:4px; }\n    .hilo { text-align: left; margin:-3px 0 0 4px; }\n    .hilo .wrap { width:16%;margin-left:6px; }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":717,"y":50,"wires":[[]]},{"id":"2bd191af.c25836","type":"ui_group","z":"","name":"The Week Ahead","tab":"206e4e8.3c9ce32","disp":true,"width":"6"},{"id":"206e4e8.3c9ce32","type":"ui_tab","z":"","name":"Weather Forecast","icon":"wb_sunny","order":4}]
