Image  Flow
[{"id":"fff0cdd9.6a0258","type":"debug","z":"4bfff44f.ad4064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":883,"y":105,"wires":[]},{"id":"46fe07e8.8edac","type":"change","z":"4bfff44f.ad4064","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":685,"y":108,"wires":[["fff0cdd9.6a0258","37b311dd.d54bd6"]]},{"id":"d9310496.3da568","type":"function","z":"4bfff44f.ad4064","name":"Mapping Data","func":"var labels = msg.result.images[0].classifiers[0].classes;\nmsg.payload = labels.map(function(i){\n   return i.class;\n});\nreturn msg;","outputs":1,"noerr":0,"x":491,"y":109,"wires":[["46fe07e8.8edac"]]},{"id":"37b311dd.d54bd6","type":"cloudant out","z":"4bfff44f.ad4064","name":"","cloudant":"","database":"weather","service":"myjim-cloudantNoSQLDB","payonly":false,"operation":"insert","x":871,"y":148,"wires":[]},{"id":"580b4eb2.f43bf","type":"visual-recognition-v3","z":"4bfff44f.ad4064","name":"","apikey":"StBxtyYuull0tavoq2mWdcASVQEbwPnFI-8fXnMLPVeN","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":299,"y":110,"wires":[["d9310496.3da568"]]},{"id":"27141df8.0c107a","type":"camerapi-takephoto","z":"4bfff44f.ad4064","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":104,"y":113,"wires":[["580b4eb2.f43bf"]]}]

